.course_page {
  width: 90%;
  margin: auto;
}

.searchbar {
  margin: auto;
  margin-bottom: 2em;
  text-align: center;

  & input {
    padding: 0.6em;
    border-radius: 0.8em;
    width: 50%;

    border: 1px solid #0056d2;
  }

  @media screen and (max-width: 450px) {
    & input {
      width: 100%;
    }
  }
}

.course_container {
  display: flex;
  gap: 2em;

  & .sidebar {
    flex: 2;
    border-right: 1px solid gray;

    @media screen and (max-width: 968px) {
      border: none;
    }
  }

  & .course_list {
    flex: 8;
  }

  @media screen and (min-width: 751px) and (max-width: 968px) {
    flex-direction: column;
  }

  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
}

.sidebar_container {
  display: flex;
  flex-direction: column;
  gap: 2em;

  @media screen and (max-width: 968px) {
    flex-direction: row;
  }
}

.filter {
  & div {
    padding: 0.2em;
    display: flex;
    gap: 0.5em;
  }
}

.sort {
  & div {
    padding: 0.2em;
    display: flex;
    gap: 0.5em;
  }
}

.slider {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 0.8em;
  border-radius: 0.6em;
  overflow: hidden;
  & img {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .sliderText {
    padding: 0 0.4em;
  }

  .disc {
    font-size: medium;
  }

  & h4 {
    text-decoration: line-through;
    color: gray;
    font-weight: 400;
  }
}

.pagelist {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1em;
  margin-bottom: 2em;

  & button {
    all: unset;
    padding: 0.8em;
    cursor: pointer;
  }

  @media screen and (max-width: 750px) {
    width: 70%;
    margin: auto;
    margin-bottom: 2em;
    flex-wrap: wrap;

    & button {
      padding: 0.4em;
    }
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 10px solid #fff;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  box-sizing: border-box;
}

.loader::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  inset: -10px;
  border-radius: 50%;
  border: 10px solid #0056d2;
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.loaderdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}