@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --primary-font-family: "Poppins", sans-serif;
  /* --color-mid: #6257e3;
  --color-light: #89c7e2; */
  /* --color-light: #61dafb; just trying this color */
  /* --color-dark: #050a30; */
  --primary-color: #0056d2;
  --secondary-color: #fff;
  --dark-color: #22242a;
}

.light_button{
    border: 2px solid var(--primary-color);
    width: 90px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}
.dark_button{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    width: 90px;
    border: none;
    cursor: pointer;
    /* margin: 0 10px; */
    padding: 10px;
    border-radius: 5px;
}
.big_dark_button{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    width: 130px;
    border: none;
    cursor: pointer;
    /* margin: 0 10px; */
    padding: 15px;
    border-radius: 5px;
    font-size: large;
}
.extra_big_dark_button{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    width: 150px;
    border: none;
    cursor: pointer;
    /* margin: 0 10px; */
    padding: 15px;
    border-radius: 5px;
    font-size: large;
}
